
th,
td {
    border: 1px solid black;
    width: 120px;
    text-align: center;
    font-size: 80%;
}

p {
    margin: 0;
    /* background-color: #00aeff1e; */
    /* width: 80px; */
    width: 100%;
    height: 100%;
    padding-inline: 5px;
    padding-block: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    /* border-radius: 10px; */
}

.cell {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #18181896;
    /* gap: 10px; */
    /* padding: 10px; */
}

td {
    height: 30px;
}

th {
    background-color: black;
}

.space_hour {
    background-color: #000000a9;
}

