<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/common_styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/common_styles/all.min.css"/>
    <link rel="stylesheet" href="/static/css/common_styles/fontawesome.min.css"/>
    <link rel="stylesheet" href="/static/css/common_styles/fonts.css"/>
    <link rel="stylesheet" href="/static/css/common_styles/common_style.css"/>
    <link rel="stylesheet" href="/static/css/login_form.css">
    {% block estilos %}
    {% endblock %}
    <title>
        {% block titulo %}
        {% endblock %} | Modelos de Matriculas
    </title>
</head>

<body class="general_body">

    <section class="general_element">
        {% block contenido %}
        {% endblock %}
    </section>

    <script src="/static/js/common_scripts/bootstrap.bundle.min.js"></script>
    <script src="/static/js/common_scripts/bootstrap.min.js"></script>
    <script src="/static/js/common_scripts/common_script.js"></script>
    <!-- <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script> -->
    {% block scripts %}
    {% endblock %}

</body>

</html>