:root {
    --border-size: 2px;
    --border-radius-size: 25px;
    --color-text: color-mix(in srgb, var(--color-base) 100%, var(--color-contrast) 10%);
    --color-placeholder: color-mix(in srgb, var(--color-base) 85%, var(--color-contrast) 30%);
}

body {
    font-size: 100%;
    display: flex; 
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: color-mix(in srgb, var(--color-base) 80%, rgb(174, 174, 174) 40%);
    background-image: url(/static/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
}

header,
aside,
footer {
    display: none;
}

form {
    color: var(--color-contrast);
    width: 35vw;
    background-color: color-mix(in srgb, var(--color-base) 10%, transparent 90%);
    border-radius: var(--border-radius-size);
    border: var(--border-size) solid var(--color-contrast);
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(20px);
}

img {
    width: 15%;
}

.img {
    width: 15%;
    aspect-ratio: 1 / 1;
    background-color: color-mix(in srgb, var(--color-base) 90%, #9b9b9b 70%);
    background-image: url(/static/img/logo.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
    display: inline-block;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    max-height: 40vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color1) #f0f0f0;
    /* scrollbar */
}

.inputs::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    border-radius: 50px;
}


.input_box {
    position: relative;
    height: fit-content;
    width: fit-content;
    width: 95%;
}

.input_box i {
    position: absolute;
    right: var(--border-radius-size);
    top: var(--border-radius-size);
    transform: translateY(-50%);
}

.inputs .input_box input {
    color: var(--color-text);
    padding: 5px;
    width: 100%;
    border-radius: var(--border-radius-size);
    border: 0px;
    background-color: transparent;
    padding-inline: 20px;
    /* padding-block: var(--border-radius-size); */
    padding-block: 20px;
    font-size: 120%;
    border: var(--border-size);
    height: 30px;
    border: var(--border-size) solid var(--color-contrast);
    outline: none;
}

input::placeholder {
    color: var(--color-contrast);
}

.btn {
    background-color: var(--color-contrast);
    color: var(--color-base);
    padding-inline: 25px;
    padding-block: 10px;
    border-radius: var(--border-radius-size);
    border: 0px solid ;
    margin-inline: 10px;
    margin-block: 10px;
    font-weight: bold;
}

h2 {
    color: var(--color-base);
    padding-inline: 15px;
    font-size: 200%;
    margin-bottom: 30px;
    font-weight: bolder;
    text-shadow: 1px 1px 0px #808080;
}

input[type="checkbox"] {
    color: var(--color-base);
}

p {
    margin-top: 10px;
}

p b {
    color: var(--color-base);
}

a {
    color: var(--color-base);
    font-weight: bold;
}

a:hover {
    color: color-mix(in srgb, var(--color-base) 100%, #ffffff 40%);
}

