.section_content {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.panel_cell {
    border-radius: 10px;
    box-shadow: 0px 0px 3px #0000008f;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-block: 15px;
    padding-inline: 10px;
    gap: 10px;
    background-color: var(--color14);
    color: white;
}

.panel_cell * {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* .panel_cell:hover .cell_content {
    display: flex;
} */

.cell_title {
    gap: 10px;
    justify-content: center;
    font-size: 115%;
    align-self: flex-start;
    padding-inline: 10px;
    color: var(--color-sec);
    filter: saturate(195%);
}

.cell_title i {
    font-size: 125%;
}

.cell_content {
    /* display: none; */
    flex-direction: column;
    gap: 10px;
    height: 30vh;
    overflow-y: auto;
    padding-block: 5px;
}

.cell_content::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.cell_content::-webkit-scrollbar-thumb {
    background-color: #ffffffbb;
    border-radius: var(--border-radius-size);
}

.cell_content::-webkit-scrollbar-track {
    background-color: transparent;
}

.cell_empty {
    color: #ffffffa8;
    margin-top: 5px;
    justify-self: center;
}

.panel_link {
    border: 1px solid #ffffff70;
    border-radius: 15px;
    padding-inline: 10px;
    padding-block: 5px;
    display: grid;
    grid-template-columns: 20px auto;
    gap: 10px;
    width: 95%;
    color: white;
}

.panel_link i {
    justify-self: center;
    font-size: 115%;
}

.panel_link p {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.panel_link:hover {
    filter: saturate(170%);
    background-color: white;
    /* box-shadow: 0px 0px 5px color-mix(in srgb, black 10%, var(--color15) 95%); */
}

.panel_link:hover i {
    font-size: 140%;
}

.panel_link:hover p {
    font-size: 110%;
    /* z-index: 99999999; */
    /* overflow: hidden; */
    /* white-space: wrap; */
}

.link_crud:hover {
    color: var(--color1);
}

.link_report:hover {
    color: var(--color15);
}