/* Reset básico */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color:  #fff;
}

/* Contenedor general */
.container {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
}
.titulo-envio {
    font-size: 32px;
    color: #0E1D63;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0px;
}



/* Grid de opciones */
.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-bottom: 30px;
}

/* Tarjetas */
.option {
    border: 2px solid #0E1D63;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.option.selected {
    background-color: #00E0E0;
    border-color: #0E1D63;
    color: #ffffff;
    box-shadow: 0 8px 20px rgba(14, 29, 99, 0.3);
}

.option:hover {
    transform: translateY(-5px);
    background-color: #8cf6fa;
    border-color: #0E1D63;
    box-shadow: 0 8px 20px rgba(14, 29, 99, 0.3);
}

/* Icono */
.option-icon {
    margin-bottom: 15px;
}

.option-icon img {
    width: 90px;
    height: 90px;
    transition: transform 0.3s ease;
}

.option.selected .option-icon img {
    filter: invert(1);
}

.option:hover .option-icon img {
    transform: scale(1.1);
}

/* Título y texto */
.option-title h3 {
    color: #0E1D63;
    font-size: 18px;
    margin: 0;
}

.option.selected .option-title h3 {
    color: #ffffff;
}

.option-text p {
    font-size: 14px;
    color: #4F4F4F;
    margin-top: 10px;
    line-height: 1.5;
}

.option.selected .option-text p {
    color: #ffffff;
}

/* Checkbox */
.checkbox-container {
    font-size: 14px;
    color: #4F4F4F;
    margin-bottom: 20px;
}

.checkbox-container a {
    color: #0E1D63;
    text-decoration: underline;
}

/* Botón */
button {
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
}

button:enabled {
    background-color: #0E1D63;
    cursor: pointer;
}

button:enabled:hover {
    background-color: #061142;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 576px) {
    .option-icon img {
        width: 70px;
        height: 70px;
    }

    h1 {
        font-size: 22px;
    }

    button {
        width: 100%;
    }
}

/* Añadir margen inferior para el footer */
.container {
    margin-bottom: 60px;
}
