{% extends "MAESTRA_ADMIN.html" %}


{% block titulo %}

{% if rolid %}
Permisos para {{info_rol.get('nombre')}}
{% else %}
{{NOMBRE_ADMINPAGES_PAGE}}
{% endif %}

{% endblock %}


{% block estilos %}
<style>
    .section_content {
        gap: 20px;
        padding: 25px;
    }

    .block_admin {
        display: grid;
        grid-template-columns: 3.5fr 1fr;
        gap: 20px;
    }

    .block_admin>* {
        height: 80vh;
        /* background-color: #dfdfdf5e; */
        background-color: var(--color9);
        overflow-y: auto;
        border-radius: 15px;
        padding-block: 10px;
    }

    .block_rol {
        background-color: var(--color3);
        padding-inline: 10px;
        color: white;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .block_rol h5 {
        font-size: 115%;
        align-self: center;

    }

    .block_access {
        gap: 15px;
        display: grid;
        /* grid-template-columns: repeat(2, 35.5vw); */
        /* grid-template-columns: repeat(2, 25.5vw); */
        grid-template-columns: repeat(2, 47.5%);
        font-size: 100%;
        justify-content: center;
    }

    .tip_block {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .tip_content {
        border-left: 1px solid white;
        padding-inline: 10px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        /* padding-block: 5px; */

    }

    .rol_block {
        background-color: var(--color4);
        border-radius: 5px;
        padding-inline: 10px;
        padding-block: 5px;
        cursor: pointer;
        color: white;

    }

    .rol_block:hover {
        scale: 1.05;
        color: var(--color19);
    }

    .tip_blocks {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .mod_head,
    .mod_head>*,
    .mod_block,
    .mod_block>*,
    .pag_block,
    .pag_block>* {
        display: flex;
        padding-inline: 10px;
        padding-block: 5px;
        gap: 10px;
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 5px;
    }

    .mod_head {
        justify-content: space-between;
        padding: 0;
        display: flex;
        /* grid-template-columns: 40% auto auto; */
        /* grid-template-columns: 32.5% 1fr 1fr 1fr 2fr; */
        /* grid-template-columns: 32.5% 1fr 1fr 1fr 2fr; */
        /* grid-template-columns: repeat(5, auto); */
        /* grid-template-columns: auto 1fr 1fr 1fr 6fr; */
        align-items: center;
        /* gap: 10px; */
        justify-items: center;
    }

    .mod_block {
        flex-direction: column;
        align-items: flex-start;
        /* background-color: var(--color4); */
        background-color: white;
        border: 0;
        padding-block: 10px;
        position: relative;
    }

    .mod_block>* {
        width: 100%;
    }

    .mod_title {
        border: 1px solid #8c8c8c29;
        /* border: 1px solid black; */
        /* align-items: center; */
        font-size: 110%;
        padding-block: 7px;
        padding-inline: 12px;
        border-radius: 5px;
        /* width: 80%; */
        /* position: relative; */
        width: 125px;
        justify-self: flex-start;
    }

    .mod_title p {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }

    .mod_title i {
        font-size: 150%;
    }

    .mod_opts {
        padding-inline: 0;
        gap: 5px;
    }

    .mod_opt {
        padding-inline: 5px;
        color: var(--color4) !important;
        font-size: 140%;
    }

    .mod_opt:hover {
        scale: 1.25;
        filter: brightness(4);
    }

    .mod_cant {
        /* position: absolute;
        top: 10px;
        right: 10px; */
        /* font-weight: bold; */
        /* font-size: 135%; */
        border-radius: 10px;
        /* height: 35px; */
        /* width: 35px; */
        background-color: #f2f2f2;
        justify-content: center;
        justify-items: center;
        display: flex;
        gap: 0;
        padding-inline: 3px;
    }

    .cant_block:first-of-type {
        border: 0;
    }

    .cant_block {
        border-left: 1px solid grey;
        width: 100%;
        padding-inline: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cant_content {
        font-weight: bold;
    }

    .cant_title {
        font-size: 80%;
    }

    .mod_content {
        flex-direction: column;
        width: 100%;
        padding-inline: 0;
        overflow-y: scroll;
        height: 200px;
    }

    .pag_block {
        width: 100%;
        display: grid;
        /* grid-template-columns: 70% auto; */
        grid-template-columns: 67.5% auto;
        border: 0;
        background-color: var(--color4);
        border-radius: 25px;
        padding-inline: 5px;
    }

    .pag_options {
        justify-self: center;
        padding-inline: 0;
        gap: 7px;
    }

    .btn_opt {
        height: 25px;
        width: 25px;
        /* background-color: green; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: white;
    }

    .pag_options button {
        display: flex;
        height: 100;
        font-size: 120%;
        filter: brightness(1.4);
    }

    .pag_options button:hover {
        scale: 1.25;
    }

    .pag_title {
        height: 100%;
        color: white;
        padding-inline: 5px;
        border: 0;
        display: grid;
        grid-template-columns: 10% auto;
    }

    .pag_title p {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }

    .pag_title i {
        font-size: 145%;
        justify-self: center;
    }

    .opciones_fila button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 80%;
        height: 23px;
        width: 23px;
        padding: 0;
    }

    .opciones_fila button.unable {
        color: #5f5f5f;
        background-color: white !important;
        border: 1px solid #5f5f5f;
    }

    .pag_content {
        justify-content: center;
        gap: 7px;
        border-radius: 20px;
        background-color: var(--color9);
        justify-self: flex-end;
        padding-inline: 7px;
        padding-block: 6px;
    }

    .crud_title {
        /* position: relative; */
    }

    .back_to_page {
        /* position: absolute; */
        /* top: 10px; */
        /* right: 10px; */
        border-radius: 5px;
        padding-inline: 15px;
        padding-block: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .block_title {
        display: flex;
        justify-content: space-between;
    }
</style>


{% endblock %}


{% block contenido %}

<div class="block_crud block_title">
    {% if rolid %}

    <h3 class="crud_title">
        <i class="ri-file-lock-fill"></i>
        Permisos para {{info_rol.get('nombre')}}
    </h3>

    <a class="back_to_page btn_back" href="{{url_for('administrar_paginas')}}">
        <i class="fa-solid fa-arrow-left"></i>
        <p>Volver a {{NOMBRE_ADMINPAGES_PAGE}}</p>
    </a>

    <style>
        /* .pag_title {
            grid-template-columns: 25% auto;
        } */

        .pag_block {
            /* grid-template-columns: 55.5% auto; */
            grid-template-columns: auto auto;
        }

        /* .mod_content {
        }

        .pag_block:hover {
            position: fixed;
            z-index: 999;
            width: fit-content;
            grid-template-columns: auto auto;
        }

        .pag_block:hover .pag_title {
            grid-template-columns: auto auto;
        } */

        .block_access {
            position: relative;
        }

        /* .mod_block:hover {
            box-shadow: 0px 0px 10px black;
            z-index: 999;
        } */
    </style>

    {% else %}

    <h3 class="crud_title">
        <i class="ri-file-settings-fill"></i>
        {{NOMBRE_ADMINPAGES_PAGE}}
    </h3>

    {% endif %}
</div>

<div class="block_crud block_admin">

    <div class="block_access">
        {% for modulo in modulos %}
        <div class="mod_block">
            <div class="mod_head">
                <div class="mod_title" style="
                    background-color: color-mix(in srgb, {{ modulo.get('color') }} 15%, transparent 90%) ; 
                    color: color-mix(in srgb, {{ modulo.get('color') }} 100%, black 30%)  ;
                    ">
                    <i class="{{ modulo.get('icono') }}"></i>
                    <p> {{ modulo.get('nombre') }} </p>
                </div>

                {% if not rolid %}

                <button class="clickable-modal mod_opt text_consult" id="modal_crud_consult_{{ modulo.get('id') }}">
                    <i class="fa-solid fa-eye"></i>
                </button>

                <button class="clickable-modal mod_opt text_update" id="">
                    <i class="fa-solid fa-pen"></i>
                </button>

                {% if modulo.get('activo') == 1 %}
                <button class="clickable-modal mod_opt text_active" id="">
                    <i class="fa-solid fa-square-check"></i>
                </button>
                {% else %}
                <button class="clickable-modal mod_opt text_unactive" id="">
                    <i class="fa-regular fa-square-check"></i>
                </button>
                {% endif %}

                {% else %}

                <button class="clickable-modal mod_opt text_access" id="">
                    <i class="fa-solid fa-unlock"></i>
                </button>
                
                {% endif %}

                <div class="mod_cant">
                    {% for cant in cants_mod %}
                    {% if cant.get('id') == modulo.get('id') %}
                    <div class="cant_block">
                        <div class="cant_content"> {{ cant.get('cant') }} </div>
                        <div class="cant_title"> {{ cant.get('tip_nombre') }} </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="mod_content">
                {% for page in paginas_cruds %}

                {% if page.get('moduloid') == modulo.get('id') %}
                <div class="pag_block">
                    <div class="pag_title">
                        {% if page.get('tipo_paginaid') == 1 %}
                        <i class="{{ page.get('icono') or ICON_PAGE_CRUD }}"></i>
                        <p> {{NOMBRE_CRUD_PAGE}} {{ page.get('titulo') | lower }} </p>
                        {% elif page.get('tipo_paginaid') == 2 %}
                        <i class="{{ page.get('icono') or ICON_PAGE_REPORT }}"></i>
                        <p> {{ page.get('titulo') }} </p>
                        {% endif %}
                    </div>

                    {% if rolid %}

                    <div class="pag_content crud_ops">

                        <div class="opciones_fila">
                            <button class=" btn_access" id="">
                                <i class="fa-solid fa-unlock"></i>
                            </button>
                        </div>

                        {% if page.get('tipo_paginaid') == 1 %}
                        <div class="opciones_fila">
                            <button class=" btn_search" id="">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>

                        <div class="opciones_fila">
                            <button class=" btn_insert" id="">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>

                        <div class="opciones_fila">
                            <button class=" btn_consult" id="">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </div>

                        <div class="opciones_fila">
                            <button class=" btn_active" id="">
                                <i class="fa-regular fa-square-check"></i>
                            </button>
                        </div>

                        <div class="opciones_fila">
                            <button class=" btn_update" id="">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </div>

                        <div class="opciones_fila">
                            <button class=" btn_delete" id="">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>

                        {% endif %}

                    </div>

                    {% else %}

                    <div class="pag_options">
                        <button class="btn_opt text_consult" id="">
                            <i class="fa-solid fa-eye"></i>
                        </button>

                        <button class="btn_opt text_update" id="">
                            <i class="fa-solid fa-pen"></i>
                        </button>

                        {% if page.get('activo') == 1 %}
                        <button class="btn_opt text_active" id="">
                            <i class="fa-regular fa-square-check"></i>
                        </button>
                        {% else %}
                        <button class="btn_opt text_unactive" id="">
                            <i class="fa-regular fa-square-check"></i>
                        </button>
                        {% endif %}

                    </div>

                    {% endif %}

                </div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="block_rol">

        <h5>
            Permisos de roles
        </h5>

        <div class="line_separator"></div>

        <div class="tip_blocks">
            {% for tipo in tipos_rol %}
            <div class="tip_block">
                <div class="tipo_title">
                    {{ tipo.get('nombre') }}
                </div>
                <div class="tip_content">

                    {% for rol in roles %}

                    {% if rol.get('tipo_rolid') == tipo.get('id') %}

                    <a class="rol_block" href="{{url_for('permiso_rol' , rolid = rol.get('id') )}}">
                        <div class="rol_title">
                            {{ rol.get('nombre') }}
                        </div>
                    </a>

                    {% endif %}

                    {% endfor %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>


{% for modulo in modulos %}

<div class="space_modal modal_crud_consult" id="modal_crud_consult_{{ modulo.get('id') }}">
    <div class="modal_crud_content">
        <div class="row">
            <h3>{{NOMBRE_BTN_CONSULT}} módulo</h3>
        </div>

        <div class="row form_fields">

            {% for campo in fields_form %}

            <div class="form_field form_{{campo[3]}}">
                <label for="{{campo[0]}}">{{campo[1]}}:</label>
                {% if campo[3] == 'select' %}
                {% set datos = campo[6][0]() if campo[6] and campo[6][0] is callable else campo[6][0] %}

                <input id="{{campo[0]}}" name="{{campo[0]}}" placeholder="{{campo[2]}}" type="text" {% if campo[4]
                    %}required{% endif %} {% if campo[5]==False %}disabled{% endif %} value="{{ modulo[campo[6][1]] }}"
                    disabled>

                {% elif campo[3] == 'textarea' %}
                <textarea id="{{campo[0]}}" name="{{campo[0]}}" {% if campo[4] %}required{% endif %}
                    disabled>{% if modulo[campo[0]] != None  %} {{modulo[campo[0]]}} {% endif %}</textarea>
                {% elif campo[3] == 'p' %}
                <div class="form_p_content">
                    {% if campo[0] == 'activo' %}
                    {% if modulo[campo[0]] == 0 %}
                    <p class="activo btn_unactive">{{STATE_0}}</p>
                    {% else %}
                    <p class="activo btn_active">{{STATE_1}}</p>
                    {% endif %}
                    {% else %}
                    <p id="{{campo[0]}}" name="{{campo[0]}}">{% if modulo[campo[0]] != None %} {{modulo[campo[0]]}} {%
                        endif
                        %}</p>
                    {% endif %}
                </div>
                {% else %}
                {% if modulo[campo[0]] == None or modulo[campo[0]] == '' %}
                <input class="input_vacio" type="{{campo[3]}}" id="{{campo[0]}}" name="{{campo[0]}}" {% if campo[4]
                    %}required{% endif %} placeholder="Sin {{columnas[campo[0]] | lower }}" disabled>
                {% else %}
                <input type="{{campo[3]}}" placeholder="{{campo[2]}}" id="{{campo[0]}}" name="{{campo[0]}}" {% if
                    campo[4] %}required{% endif %} value="{{modulo[campo[0]]}}" disabled>
                {% endif %}
                {% endif %}
            </div>

            {% endfor %}

        </div>

        <div class="row">
            <div class="col">
                <div class="button btn_back" onclick="closeModal()">Cancelar</div>
            </div>
            <div class="col-1"></div>
            <div class="col">
                <button class="button btn_acept" onclick="closeModal()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}



<div id="overlayModal" class="overlayModal">
    <div id="enlargedModal">
    </div>
</div>


{% endblock %}


{% block scripts %}

<script src="/static/js/crudModal.js"></script>

<script>
    const options = document.querySelectorAll('.opciones_fila ');
    options.forEach(opt => {
        const btns = opt.querySelectorAll('button');
        btns.forEach(btn => {
            btn.addEventListener('click', () => {
                btn.classList.toggle('unable');
            });
        });
    });
</script>

<!-- <script>
    const options = document.querySelectorAll('.opciones_fila ');
    options.forEach(opt => {
        const btns = opt.querySelectorAll('button');
        btns.forEach(btn => {
            btn.addEventListener('click', () => {
                const isAccess = btn.classList.contains('btn_access');
                if (isAccess) {
                    btns.forEach(b => {
                        b.classList.add('unable');
                    });
                    btn.classList.add('unable');
                } else {
                    btn.classList.toggle('unable');
                }
            });
        });
    });
</script> -->


{% endblock %}