:root {
    --height-header: 15vh;
    --height-nav: auto;
    --height-footer: 10vh;
    --height-aside: 90vh;
    --height-section: 1vh;
    --width-aside: 15vw;

    --border-radius1: 100px;
}


body {
    font-family: Poppins, sans-serif;
    display: grid;
    grid-template-rows: var(--height-header) var(--height-nav) auto auto;
    grid-template-areas: 
                        "ge_header ge_header"
                        "ge_nav ge_nav"
                        "ge_section  ge_section"
                        "ge_footer ge_footer"
    ;
    /* height: 100vh; */
    background-color: var(--color-contrast) ;
}

header.general_element {
    position: sticky;
    top: 0;
    grid-area: ge_header;
    background-color: var(--color4);
    height: var(--height-header);
    display: grid;
    grid-template-columns: 1.75fr 4fr 2fr;
    justify-items: center;
    align-items: flex-start;
    color: var(--color-contrast);
    z-index: 99999;
}

header > * {
    display: flex;
    gap: 50px;
    height: 100%;
}

header * {
    transition: 0.15s ease;
}

.img_logo {
    padding: 10px;
    position: relative;
    height: calc( var(--height-header));
}

.img_logo img {
    width: 100%;
    height: 100%;
}

.img_logo img:hover {
    scale: 1.15;
}


.h_options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 105%;
    color: white;
    gap: 5px;
}

.h_options i {
    font-size: 140%;
}

.h_options p {
    font-size: 90%;
}

.h_options:hover {
    scale: 1.2;
    color: color-mix(in srgb, var(--color-sec) 100%, white 10%);
}

.header_user {
    font-size: 150%;
    background-color: var(--color-contrast);
    height: 40px;
    width: 40px;
    color: var(--color4);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    cursor: pointer;
}

.header_user:hover {
    background-color: var(--color-sec);
}

.h_user_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.h_user_block:hover .user_options {
    display: flex;
}

.user_options {
    /* top: var(--height-header); */
    top: 80px ;
    right: 1px;
    position: absolute;
    /* background-color: grey; */
    width: 180px;
    gap: 3px;
    display: none;
    flex-direction: column;
}

.user_options a {
    padding-block: 5px;
    padding-inline: 10px;
    background-color: var(--color3);
    border-radius: 20px;
    text-align: left;
    color: white;
    display: grid;
    gap: 5px;
    grid-template-columns: 40px auto;
    align-items: center;
}

.user_options a i {
    justify-self: center;
}

.user_options a:hover {
    background-color: white;
    color: var(--color3);
}

nav.general_element {
    grid-area: ge_nav;
    display: flex;
    flex-direction: row;
    background-color: color-mix(in srgb, var(--color-sec) 50%, white 50%);
    justify-content: center;
    padding-block: 10px;
    gap: 20px;
    position: sticky;
    top: var(--height-header);
    z-index: 9999;
}

.n_option {
    display: grid;
    justify-items: center;
    grid-template-columns: 30px auto;
    align-items: center;
    font-size: 95%;
    padding-inline: 10px;
    padding-block: 5px;
    gap: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    height: auto;
    color: white ;
    border-radius: var(--border-radius1);
}

.n_option:last-child {
    border: 0;
}

.n_option i {
    font-size: 130%;
}

.n_option p {
    justify-self: flex-start;
}

.n_option:hover {
    scale: 1.15;
}

.n_option:hover * {
    color: white;
    color: var(--color1);
}

section {
    display: flex;
    flex-direction: column;
}

section > * {
    height: 100%;
    width: 100%;
}

footer {
    color: white;
    height: auto;
    display: grid;
    grid-template-areas: 
                        'ft_i ft_f'
                        'ft_u ft_u'
    ;
}

.footer_icons ,
.footer_info ,
.footer_under {
    padding: 20px;
}

.footer h3 {
    grid-column: 1 / -1;
}

.footer_icons {
    padding: 20px;
    grid-area: ft_i;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.footer_icons div {
    gap: 15px;
    display: flexj;
}

.footer_icons i {
    font-size: 170%;
    color: var(--color-sec);
}

.footer_info {
    grid-area: ft_f;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-end;
}

.footer_i {
    color: var(--color-sec);
}

.footer_under {
    grid-area: ft_u;
    background-color: #252525;
    font-size: 80%;
}


