{% extends "MAESTRA_LOGIN.html" %}

{% block titulo %}
Inicio de sesión
{% endblock %}

{% block estilos %}
<style>
    body {
        background-image: url(/static/img/background_login.jpg);
    }

</style>
{% endblock %}

{% block contenido %}

<form id="form_login" name="" method="POST" action="{{url_for('procesar_login')}}">
    <a class="logo_icon" href="{{url_for('main_page')}}">
        <img src="{{URL_IMG_LOGO}}" alt="logo">
    </a>

    <h2>Inicio de sesión</h2>

    <div class="inputs">
        <div class="input_box">
            <input type="email" name="email" id="email" placeholder="Correo" required>
            <i class="fa-solid fa-envelope"></i>
        </div>

        <div class="input_box">
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <i class="fa-solid fa-lock"></i>
        </div>
    </div>

    <p><a href="{{url_for('recuperar_contrasenia')}}">¿Olvidaste tu contraseña?</a></p>

    <div id="send">
        <input type="submit" class="btn" value="Iniciar sesión" required>
    </div>

    <p>¿No tienes una cuenta?&nbsp;<a href="{{url_for('sign_up')}}">Regístrate</a></p>

</form>

{% endblock %}