
{% if crud_consult or crud_unactive or crud_update or crud_delete %}

{% for fila in filas %}

{% if crud_unactive %}
<div class="space_modal modal_crud_unactive" id="modal_crud_unactive_{{fila[primary_key]}}">
  <form class="modal_crud_content" action="{{ url_for('crud_unactive', tabla = tabla) }}" method="POST">

    <div class="row">
      <h3>{% if fila['activo'] == 0 %}
        {{ ACT_STATE_1 }}
        {% elif fila['activo'] == 1 %}
        {{ ACT_STATE_0 }}
        {% endif %} {{nombre_tabla}} </h3>
      <!-- <hr> -->
    </div>
    <input type="hidden" name="{{primary_key}}" id="{{primary_key}}" value="{{fila[primary_key]}}">
    <p>¿Está seguro de que desea {% if fila['activo'] == 0 %}
      {{ ACT_STATE_1 | lower }}
      {% elif fila['activo'] == 1 %}
      {{ ACT_STATE_0 | lower }}
      {% endif %} este {{nombre_tabla}} (ID: {{fila[primary_key]}}) ?</p>

    <div class="row">
      <div class="col">
        <div class="button btn_back" onclick="closeModal()">Cancelar</div>
      </div>
      <div class="col-1"></div>
      <div class="col">
        <button class="button btn_acept" type="submit">
          Aceptar
        </button>
      </div>
    </div>

  </form>
</div>
{% endif %}

{% if crud_delete %}
<div class="space_modal modal_crud_delete" id="modal_crud_delete_{{fila[primary_key]}}">
  <form class="modal_crud_content" action="{{ url_for('crud_delete', tabla = tabla) }}" method="POST">

    <input type="hidden" name="{{primary_key}}" id="{{primary_key}}" value="{{fila[primary_key]}}">

    <div class="row">
      <h3>{{NOMBRE_BTN_DELETE}} {{nombre_tabla}} </h3>
      <!-- <hr> -->
    </div>

    <p>¿Está seguro de que desea eliminar este {{nombre_tabla}} (ID: {{fila[primary_key]}}) ?</p>

    <div class="row">
      <div class="col">
        <div class="button btn_back" onclick="closeModal()">Cancelar</div>
      </div>
      <div class="col-1"></div>
      <div class="col">
        <button class="button btn_acept" type="submit">Aceptar</button>
      </div>
    </div>

  </form>
</div>
{% endif %}


{% if crud_consult %}
<div class="space_modal modal_crud_consult" id="modal_crud_consult_{{fila[primary_key]}}">
  <div class="modal_crud_content">
    <div class="row">
      <h3>{{NOMBRE_BTN_CONSULT}} {{nombre_tabla}}</h3>
    </div>

    <div class="row form_fields">

      {% for campo in fields_form %}

      <div class="form_field form_{{campo[3]}}">
        <label for="{{campo[0]}}">{{campo[1]}}:</label>
        {% if campo[3] == 'select' %}
        {% set datos = campo[6][0]() if campo[6] and campo[6][0] is callable else campo[6][0] %}

        <input id="{{campo[0]}}" name="{{campo[0]}}" placeholder="{{campo[2]}}" type="text" {% if campo[4] %}required{%
          endif %} {% if campo[5]==False %}disabled{% endif %} value="{{ fila[campo[6][1]] }}" disabled>

        {% elif campo[3] == 'textarea' %}
        <textarea id="{{campo[0]}}" name="{{campo[0]}}" {% if campo[4] %}required{% endif %}
          disabled>{% if fila[campo[0]] != None  %} {{fila[campo[0]]}} {% endif %}</textarea>
        {% elif campo[3] == 'p' %}
        <div class="form_p_content">
          {% if campo[0] == 'activo' %}
          {% if fila[campo[0]] == 0 %}
          <p class="activo btn_unactive">{{STATE_0}}</p>
          {% else %}
          <p class="activo btn_active">{{STATE_1}}</p>
          {% endif %}
          {% else %}
          <p id="{{campo[0]}}" name="{{campo[0]}}">{% if fila[campo[0]] != None %} {{fila[campo[0]]}} {% endif %}</p>
          {% endif %}
        </div>
        {% else %}
        {% if fila[campo[0]] == None or fila[campo[0]] == '' %}
        <input class="input_vacio" type="{{campo[3]}}" id="{{campo[0]}}" name="{{campo[0]}}" {% if campo[4] %}required{%
          endif %} placeholder="Sin {{columnas[campo[0]] | lower }}" disabled>
        {% else %}
        <input type="{{campo[3]}}" placeholder="{{campo[2]}}" id="{{campo[0]}}" name="{{campo[0]}}" {% if campo[4]
          %}required{% endif %} value="{{fila[campo[0]]}}" disabled>
        {% endif %}
        {% endif %}
      </div>

      {% endfor %}

    </div>

    <div class="row">
      <div class="col">
        <div class="button btn_back" onclick="closeModal()">Cancelar</div>
      </div>
      <div class="col-1"></div>
      <div class="col">
        <button class="button btn_acept" onclick="closeModal()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% if crud_update %}
<div class="space_modal modal_crud_update" id="modal_crud_update_{{fila[primary_key]}}">
  <form class="modal_crud_content" action="{{ url_for('crud_update', tabla = tabla) }}" method="POST">

    <div class="row">
      <h3>{{NOMBRE_BTN_UPDATE}} {{nombre_tabla}} </h3>
    </div>

    <div class="row form_fields">
      <input type="hidden" id="{{primary_key}}" name="{{primary_key}}" value="{{fila[primary_key]}}">

      {% for campo in fields_form %}

      <div class="form_field form_{{campo[3]}}">
        <label for="">{{campo[1]}}:</label>
        {% if campo[3] == 'select' %}
        {% set datos = campo[6][0]() if campo[6] and campo[6][0] is callable else campo[6][0] %}
        <select id="{{campo[0]}}" name="{{campo[0]}}">
          {% for option in datos %}
          <option value="{{option[0]}}" {% if fila[campo[0]]==option[0] %}selected{% endif %}>{{option[1]}}</option>
          {% endfor %}
        </select>
        {% elif campo[3] == 'p' %}
        <div class="form_p_content">
          {% if campo[0] == 'activo' %}
          {% if fila[campo[0]] == 0 %}
          <p class="activo btn_unactive">{{STATE_0}}</p>
          {% else %}
          <p class="activo btn_active">{{STATE_1}}</p>
          {% endif %}
          {% else %}
          <p id="{{campo[0]}}" name="{{campo[0]}}">{% if fila[campo[0]] != None %} {{fila[campo[0]]}} {% endif %}</p>
          {% endif %}
        </div>
        {% elif campo[3] == 'textarea' %}
        <textarea id="{{campo[0]}}" name="{{campo[0]}}" {% if campo[4] %}required{% endif
          %}>{{fila[campo[0]]}}</textarea>
        {% else %}
        <input {% if primary_key==campo[0] %} id="_{{campo[0]}}" name="_{{campo[0]}}" disabled {% else %}
          id="{{campo[0]}}" name="{{campo[0]}}" {% endif %} type="{{campo[3]}}" placeholder="{{campo[2]}}" {% if
          campo[4] %}required{% endif %} value="{{fila[campo[0]]}}" {% if campo[5]==False %}disabled{% endif %}>
        {% endif %}
      </div>

      {% endfor %}

    </div>
    <!-- <p class="error_form"></p> -->

    <div class="row">
      <div class="col">
        <div class="button btn_back" onclick="closeModal()">Cancelar</div>
      </div>
      <div class="col-1"></div>
      <div class="col">
        <button class="button btn_acept" type="submit">Aceptar</button>
      </div>
    </div>

  </form>
</div>
{% endif %}

{% endfor %}

{% endif %}


{% if crud_insert %}
<div class="space_modal modal_crud_insert" id="modal_crud_insert">
  <form class="modal_crud_content" action="{{ url_for('crud_insert', tabla = tabla) }}" method="POST">

    <div class="row">
      <h3>{{NOMBRE_BTN_INSERT}} {{nombre_tabla}}</h3>
    </div>

    <div class="row form_fields">

      {% for campo in fields_form %}

      <div class="form_field form_{{campo[3]}}">
        <label for="">{{campo[1]}}:</label>
        {% if campo[3] == 'select' %}
        {% set datos = campo[6][0]() if campo[6] and campo[6][0] is callable else campo[6][0] %}
        <select id="{{campo[0]}}" name="{{campo[0]}}">
          <option value="-1" disabled selected>{{campo[2]}}</option>
          {% for option in datos %}
          <option value="{{option[0]}}">{{option[1]}}</option>
          {% endfor %}
        </select>
        {% elif campo[3] == 'p' %}
        <div class="form_p_content">
          {% if campo[0] == 'activo' %}
          <p class="activo btn_active">{{STATE_1}}</p>
          {% else %}
          <p id="{{campo[0]}}" name="{{campo[0]}}"></p>
          {% endif %}
        </div>
        {% elif campo[3] == 'textarea' %}
        <textarea id="{{campo[0]}}" placeholder="{{campo[2]}}" name="{{campo[0]}}" {% if campo[4] %}required{% endif
          %}></textarea>
        {% else %}
        <input id="{{campo[0]}}" name="{{campo[0]}}" type="{{campo[3]}}" placeholder="{{campo[2]}}" {% if campo[4]
          %}required{% endif %} {% if campo[5]==False or campo[5]==None %}disabled{% endif %}>
        {% endif %}
      </div>

      {% endfor %}

    </div>
    <!-- <p class="error_form"></p> -->

    <div class="row">
      <div class="col">
        <div class="button btn_back" onclick="closeModal()">Cancelar</div>
      </div>
      <div class="col-1"></div>
      <div class="col">
        <button class="button btn_acept" type="submit">Aceptar</button>
      </div>
    </div>
  </form>
</div>
{% endif %}

