{% extends "MAESTRA_GENERAL.html" %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/contactanos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block titulo %}
Contáctanos - Shalom
{% endblock %}

{% block contenido %}
<div class="contacto-container">
    <h1 class="head_title">Contáctanos</h1>
    <h5 class="h5">Estamos aquí para ayudarte con tus envíos. No dudes en comunicarte con nosotros.</h5>

    <!-- Sección del formulario -->
    <div class="formulario-contacto">
        <form id="contactForm">

            <div id="successMessage" class="success-message" style="display: none;">
                <i class="fas fa-check-circle"></i>
                <p style="margin: 0;">¡Gracias por tu mensaje! Hemos recibido tu consulta y nos pondremos en contacto contigo pronto.</p>
                <div class="progress-bar"></div>
            </div>

            <div class="form-group">
                <label for="tipoCliente">Tipo Cliente</label>
                <select class="form-control" id="tipoCliente" name="tipoCliente" required>
                    <option value="" selected disabled>-</option>
                    <option value="1">Persona Natural</option>
                    <option value="2">Persona Jurídica</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tipoDocumento">Tipo Documento</label>
                <select class="form-control" id="tipoDocumento" name="tipoDocumento" required>
                    <option value="" selected disabled>-</option>
                </select>
            </div>
            <div class="form-group">
                <label for="numeroDocumento">Número de Documento</label>
                <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" required>
                <small id="documentError" style="color: red; display: none;">Complete este campo correctamente.</small>
            </div>

            <div class="form-group">
                <label for="nombreCompleto">Nombre Completo o Razón Social</label>
                <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono Celular</label>
                <input type="tel" class="form-control" id="telefono" name="telefono" required>
                <small id="phoneError" style="color: red; display: none;">El teléfono debe tener 9 dígitos.</small>
            </div>
             
            <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
            </div>

            
            <div class="form-group">
                <label for="sucursal">Sucursal</label>
                <select class="form-control" id="sucursal" name="sucursal" required>
                    <option value="" selected disabled>-</option>
                </select>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="aceptoTerminos" name="aceptoTerminos" required>
                <label for="aceptoTerminos">Al registrarme, acepto los <a href="{{ url_for('TerminosCondiciones') }}">Términos y condiciones</a></label>
            </div>

            <button type="submit" class="btn-submit">Enviar</button>

        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/contactanos.js"></script>
{% endblock %}
