{% extends "MAESTRA_GENERAL.html" %}


{% block titulo %}
Cotizador de Tarifas de Envío
{% endblock %}


{% block estilos %}

<link rel="stylesheet" href="/static/css/cotizador.css">

{% endblock %}


{% block contenido %}

<div class="container">
    <h1 class="head_title titulo-cajas">
        Cotizador de Tarifas de Envío
    </h1>

    <div class="calculator-section">
        <!-- <h3 class="section-title">COTIZADOR</h3> -->

        <form id="shipping-form">
            <div class="form-group">
                <label>¿DÓNDE TE ENCUENTRAS?</label>
                <div class="form-row">
                    <!-- <div class="form-col">
                        <input id="origin-code" required type="text" placeholder="Código de ubigeo" maxlength="6">
                    </div> -->
                    <div class="form-col">
                        <select class="origin-select" id="origin-department" required>
                            <option value="">Departamentos</option>
                        </select>
                    </div>
                    <div class="form-col">
                        <select class="origin-select" id="origin-province">
                            <option value="">Provincias</option>
                            <option value="" disabled>Selecciona un departamento </option>
                        </select>
                    </div>
                    <div class="form-col">
                        <select class="origin-select" id="origin-district">
                            <option value="">Distritos</option>
                            <option value="" disabled>Selecciona una provincia </option>
                        </select>
                    </div>
                    <div class="form-col">
                        <select class="origin-select" id="origin-sucursal">
                            <option value="">Sucursales</option>
                            <option value="" disabled>Selecciona un distrito </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>¿A DÓNDE LO LLEVAMOS?</label>
                <div class="form-row">
                    <div class="form-col">
                        <select class="destination-select" id="destination-department">
                            <option value="">Departamentos</option>
                            <option value="" disabled>Selecciona una sucursal de origen</option>
                        </select>
                    </div>
                    <div class="form-col">
                        <select class="destination-select" id="destination-province">
                            <option value="">Provincias</option>
                            <option value="" disabled>Selecciona un departamento </option>
                        </select>
                    </div>
                    <div class="form-col">
                        <select class="destination-select" id="destination-district">
                            <option value="">Distritos</option>
                            <option value="" disabled>Selecciona una provincia </option>
                        </select>
                    </div>
                    <div class="form-col">
                        <select class="destination-select" id="destination-sucursal">
                            <option value="">Sucursales</option>
                            <option value="" disabled>Selecciona un distrito </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <div class="form-row">
                    <div class="form-col">
                        <div class="form-row">
                            <div class="form-col">
                                <label>¿LO RECOGEMOS?</label>
                                <select id="pickup-option">
                                    <option value="0">Sin recojo</option>
                                    <option value="1">Con recojo</option>
                                </select>
                            </div>

                            <div class="form-col">
                                <label>¿CUÁNTO VALE?</label>
                                <input type="number" id="valor_declarado" min="0" step="0.01" placeholder="Valor" value="0.00">
                            </div>
                        </div>
                    </div>

                    <div class="form-col">
                        <label>¿CUÁNTO PESA?</label>
                        <div class="form-row">
                            <div class="form-col">
                                <input type="number" id="weight" min="0" step="0.01" placeholder="Peso" value="0.00">
                            </div>
                            <div class="form-col">
                                <select id="weight-unit">
                                    <option value="kg">Kilogramos (kg)</option>
                                    <option value="g">Gramos (g)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="form-col">
                        <div class="space_button">
                            <button type="button" class="btn" id="calculate-btn">COTIZAR</button>
                        </div>
                    </div>

                    <div class="form-col">
                        <div class="price-section">
                            <div class="price-text">Precio estimado:</div>
                            <div class="price-amount" id="price-display">S/. 0.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="notes">
            <p>Las tarifas son referenciales. Las tarifas incluyen IGV.
                Precios válidos solo para el Servicio Regular y
                Partners de Lima a Provincias y de Lima a Lima.
            </p>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
    const originDept = document.getElementById('origin-department');
    const originProv = document.getElementById('origin-province');
    const originDist = document.getElementById('origin-district');
    const originSuc = document.getElementById('origin-sucursal');

    const destDept = document.getElementById('destination-department');
    const destProv = document.getElementById('destination-province');
    const destDist = document.getElementById('destination-district');
    const destSuc = document.getElementById('destination-sucursal');

    const inputWeight = document.getElementById("weight");

    function validateInputDecimal(input) {
        let timeout = null;
        clearTimeout(timeout);

        timeout = setTimeout(() => {
            const valor = input.value;
            const num = parseFloat(valor);

            if (!isNaN(num)) {
                input.value = num.toFixed(2);
            } else {
                input.value = '0.00';
            }
        }, 600); // espera 800 ms después del último input
    }

    

    document.querySelectorAll('input[type="number"]').forEach(input => {
        input.addEventListener("input", function () {
            validateInputDecimal(input);
        });

        input.addEventListener("blur", function () {
            validateInputDecimal(input);
        });
    });

    let DEPARTAMENTOS = {{ departamentos | tojson }};
    let PROVINCIAS = {{ provincias | tojson }};
    let DISTRITOS = {{ distritos | tojson }};
    let SUCURSALES = {{ sucursales | tojson }};


    function fillMainSelect(select, data, value, label) {
        for (const key of data) {
            select.innerHTML += `
                <option value="${key[value]}">
                    ${key[label]}
                </option>
            `
        }
    }

    function fillSecondarySelect(select, data, value, label, select_main, comparation) {
        for (const key of data) {
            if (key[comparation] == select_main.value) {
                select.innerHTML += `
                    <option value="${key[value]}">
                        ${key[label]}
                    </option>
                `
            }

        }
    }

    function resetSelect(select, option1, option2) {
        select.innerHTML = `
            <option value="">${option1}</option>
            <option value="" disabled>${option2}</option>
        `
    }

    function prepareSelect(select, option) {
        select.innerHTML = `
            <option value="" disabled selected>${option}</option>
        `
    }

    function addOptionsToSelect(s_dept, s_prov, s_dist, s_suc, f_prov, f_dist, f_suc) {
        s_dept.addEventListener('change', () => {
            s_prov.innerHTML = '';
            if (s_dept.value == null || s_dept.value == '') {
                resetSelect(s_prov, 'Provincias', 'Selecciona un departamento');
            } else {
                prepareSelect(s_prov, 'Selecciona una provincia');
                fillSecondarySelect(s_prov, f_prov, 'provincia', 'provincia', s_dept, 'departamento');
            }
            resetSelect(s_dist, 'Distritos', 'Selecciona una provincia');
            resetSelect(s_suc, 'Sucursales', 'Selecciona un distrito');
        });

        s_prov.addEventListener('change', () => {
            s_dist.innerHTML = '';
            if (s_prov.value == null || s_prov.value == '') {
                resetSelect(s_dist, 'Distritos', 'Selecciona una provincia');
            } else {
                prepareSelect(s_dist, 'Selecciona un distrito');
                fillSecondarySelect(s_dist, f_dist, 'codigo', 'distrito', s_prov, 'provincia');
            }
            resetSelect(s_suc, 'Sucursales', 'Selecciona un distrito');
        });

        s_dist.addEventListener('change', () => {
            s_suc.innerHTML = '';
            if (s_dist.value == null || s_dist.value == '') {
                resetSelect(s_suc, 'Sucursales', 'Selecciona un distrito');
            } else {
                prepareSelect(s_suc, 'Selecciona una sucursal');
                fillSecondarySelect(s_suc, f_suc, 'id', 'nom_sucursal', s_dist, 'codigo');
            }
        });

    }

    function obtenerDatosDestino(sucursal_id) {
        return fetch(`/api/datos_destino?sucursal_id=${sucursal_id}`)
            .then(res => res.json())
            .then(data => {
                if (data.error) {
                    console.error("Error:", data.error);
                    return null;
                }
                return data; // Ya es un objeto JS
            })
            .catch(err => {
                console.error("Error de red:", err);
                return null;
            });
    }

    fillMainSelect(originDept, DEPARTAMENTOS, 'departamento', 'departamento');

    addOptionsToSelect(originDept, originProv, originDist, originSuc, PROVINCIAS, DISTRITOS, SUCURSALES);

    document.querySelectorAll('.origin-select').forEach(select => {
        select.addEventListener('change', () => {
            if (originSuc.value == null || originSuc.value == '') {
                resetSelect(destDept, 'Departamentos', 'Selecciona una sucursal de origen');
                destDept.dispatchEvent(new Event("change"));
            } else {
                prepareSelect(destDept, 'Selecciona un departamento');
                obtenerDatosDestino(originSuc.value).then(data => {
                    fillMainSelect(destDept, data.departamentos, 'departamento', 'departamento');
                    addOptionsToSelect(destDept, destProv, destDist, destSuc, data.provincias, data.distritos, data.sucursales);
                });
            }
        });
    });

    function calcularTarifa(origen_id, destino_id, valor, recojo, peso) {
        return fetch("/api/calculate_tarifa", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                origen_id: origen_id,
                destino_id: destino_id,
                valor: valor ,
                includeRecojo: recojo,
                peso: peso ,
            })
        })
            .then(res => res.json())
            .then(data => {
                if (data.error) {
                    console.error("Error:", data.error);
                    return null;
                }
                return data;
                // console.log('API:',data);
                // número o null
            })
            .catch(err => {
                console.error("Error de red:", err);
                return null;
            });
    }

    document.getElementById('calculate-btn').addEventListener('click', () => {
        let origen_id = originSuc.value;
        let destino_id = destSuc.value;

        const weightUnit = document.getElementById('weight-unit').value;
        let pickup = document.getElementById('pickup-option').value;
        let valor_declarado = parseFloat(document.getElementById('valor_declarado').value);
        let weightValue = parseFloat(inputWeight.value) || 0;
        let weightInKg = weightUnit === 'g' ? parseFloat(weightValue / 1000) : parseFloat(weightValue);

        console.log(weightInKg);

        const priceTotal = document.getElementById('price-display');

        // console.log(origen_id, ' - ',destino_id ,' - ', pickup ,' - ', weightInKg);

        calcularTarifa(origen_id, destino_id, valor_declarado, pickup, weightInKg).then(data => {
            // console.log('resultado:',data)
            priceTotal.innerHTML = `S/. ${parseFloat(data).toFixed(2)}`;
            // priceTotal.innerHTML = `S/. ${data}`;
        });

        // console.log('terminó');

    });







</script>

{% endblock %}