{% extends "MAESTRA_GENERAL.html" %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/FAQ.css">
{% endblock %}

{% block titulo %}
Preguntas Frecuentes
{% endblock %}

{% block contenido %}
<div class="faq-container">
    <div>
        <h1 class="head_title">Preguntas Frecuentes</h1>
    </div>

    <div class="faq-content">
        <!-- Sección de preguntas -->
        <div class="faq-section">
            <!-- Aquí se insertará dinámicamente el acordeón -->
        </div>

        <!-- Sección de ayuda adicional -->
        <div class="help-section">
            <h2>¿Necesitas más ayuda?</h2>

            <div class="help-card">
                <div class="help-icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="help-content">
                    <h3>Llama al 01 500 7878</h3>
                    <p>Un asesor de nuestra central telefónica te ayudará a resolver tus dudas.</p>
                </div>
            </div>

            <div class="help-card">
                <div class="help-icon">
                    <i class="fa-solid fa-clock"></i>
                </div>
                <div class="help-content">
                    <h3>Horarios de atención</h3>
                    <p>Selecciona tu <a href="{{url_for('sucursales')}}" class="accent-link">sucursal</a> de interés y
                        encuentra el horario de atención y más información sobre esta.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de valoración -->
    <!--     <div class="rating-section">
        <h3>¿Te fue útil esta información?</h3>
        <p>Selecciona una expresión para calificar.</p>
        
        <div class="rating-options">
            <div class="rating-option" data-rating="1">
                <i class="fa-regular fa-face-frown"></i>
                <span>Terrible</span>
            </div>
            <div class="rating-option" data-rating="2">
                <i class="fa-regular fa-face-frown-open"></i>
                <span>Malo</span>
            </div>
            <div class="rating-option" data-rating="3">
                <i class="fa-regular fa-face-meh"></i>
                <span>Normal</span>
            </div>
            <div class="rating-option" data-rating="4">
                <i class="fa-regular fa-face-smile"></i>
                <span>Bueno</span>
            </div>
            <div class="rating-option" data-rating="5">
                <i class="fa-regular fa-face-smile-beam"></i>
                <span>Excelente</span>
            </div>
        </div>
    </div> -->
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/FAQ.js"></script>
{% endblock %}