{% extends "MAESTRA.html" %}

{% block titulo %}
Inicio de Sesion
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/login_form.css">

{% endblock %}

{% block contenido %}
<div class="container_form cont_form_1">
    <form class="login_form" action="" method="POST">
        <h2>Inicia Sesión</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul style="list-style-type: none; padding: 0; margin: 0" class="error-message" >
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="par form_username">
            <input type="text" placeholder="Nombre de Usuario" name="username" id="username"><br>
            <small></small>
        </div>
        <div class="par form_password">
            <input type="password" placeholder="Contraseña" name="password" id="password"><br>
            <small></small>
        </div>
        <button type="submit" class="start" id="btnEmpezar">Iniciar</button>
        <p>
            ¿No tienes una cuenta?
            <a href="{{url_for('sign_up')}}">Regístrate aquí</a>
        </p>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/login.js"></script>
{% endblock %}