{% extends "MAESTRA_LOGIN.html" %}

{% block estilos %}
<style>

    body {
        background-color: color-mix(
            in srgb, 
            black 0%,  
            color-mix(in srgb, var(--color-thr) 90%, var(--color-base) 60%) 100%
            ) !important;
    }
</style>
{% endblock %}

{% set TITULO_FORM = 'Inicio de sesión' %}
{% set URL_POST = 'procesar_login' %}
{% set URL_BG = 'bg1.jpg' %}

{% block contenido_form %}

<div class="input_box">
    <input type="email" name="email" id="email" placeholder="Correo" required>
    <i class="fa-solid fa-envelope"></i>
</div>

<div class="input_box">
    <input type="password" name="password" id="password" placeholder="Contraseña" required>
    <i class="fa-solid fa-lock"></i>
</div>

{% endblock %}

{% block pre_btn %}
<p><a href="{{url_for('recuperar_contrasenia')}}">¿Olvidaste tu contraseña?</a></p>
{% endblock %}

{% set BTN_NAME = 'Iniciar sesión' %}

{% block post_btn %}
<p>¿No tienes una cuenta?&nbsp;<a href="{{url_for('sign_up')}}">Regístrate</a></p>
{% endblock %}


{% block scripts %}
<script>
    configurarValidacion({ tipo: "email", selector: "input", id: "email" });
    validarFormularioGlobal("form");

    localStorage.clear();
</script>
{% endblock %}


