{% extends "MAESTRA_LOGIN.html" %}

{% block titulo %}
Login
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/login_form.css">
{% endblock %}

{% block contenido %}

<section class="general_element">
    <form id="form_login" name="" method="POST" action="{{url_for('procesar_login')}}">
        <a href="{{url_for('main_page')}}">
            <img src="{{URL_IMG_LOGO}}" alt="logo">
        </a>

        <h2>Inicio de sesión</h2>

        <div class="inputs">
            <div class="input_box">
                <input type="email" name="email" id="email" placeholder="Correo" required>
                <i class="fa-solid fa-envelope"></i>
            </div>

            <div class="input_box">
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
        <!-- <p><input type="checkbox" id="verificacion">&nbsp;Al crear esta cuenta, aceptas nuestros <b>Terminos & Condiciones.</b></p> -->
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>

        <div id="send">
            <input type="submit" class="btn" value="Iniciar sesión" required>
        </div>

        <p>¿No tienes una cuenta?&nbsp;<a href="{{url_for('sign_up')}}">Regístrate</a></p>

    </form>
</section>

{% endblock %}