<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png">
    <link rel="stylesheet" href="/static/css/login_2.css">
    <title>Registro de Usuario</title>
</head>
<body>
    <div id="Contenedor">
        <form id="nuevoUsuario" name="formulario1" method="post" action="data.php">            
            <fieldset id="datos_usuarios">
            <img src="/static/img/logo.png" alt="logo">

                <h2>Iniciar sesión</h2>
                
                <div id="botones">
                    <input type="submit" class="btn" value="Registrarse con Facebook">
                    <input type="submit" class="btn" value="Registrarse con Google">                    
                </div>
                
                <p>O registrarse con</p>
                
                <input type="text" name="nombre" id="nombre" placeholder="Nombres" required>
                
                <input type="text" name="apellido" id="apellido" placeholder="Apellidos" required>
                                
                <input type="email" name="email" id="email" placeholder="micorreo@dominio" required>
                
                <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                
                <p><input type="checkbox" id="verificacion">&nbsp;Al crear esta cuenta, aceptas nuestros <b>Terminos & Condiciones.</b></p>

                <div id="send">
                    <input type="submit" class="btn" value="Crear cuenta" required>
                </div>

            </fieldset>
        </form>
    </div>
</body>
</html>