{% extends 'MAESTRA_BASE.html' %}

{% block estilos_html %}
<link rel="stylesheet" href="/static/css/general_styles.css" />

{% block estilos %}

{% endblock %}
<title>
  {% block titulo %}
  {% endblock %}| {{ SYSTEM_NAME }}
</title>
{% endblock %}

{% block body_html %}
<header class="general_element top-header">
  <a class="logo-container" href="{{ url_for('main_page') }}">
    <img class="logo" src="{{ URL_IMG_LOGO }}" alt="" />
    <div class="logo-text">{{ SYSTEM_NAME }}</div>
  </a>

  <nav class="main-nav">
    <!--  <a href="{{ url_for('main_page') }}" class="nav-link">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
      </a>  -->
    <a href="{{ url_for('tracking') }}" class="nav-link">
<i class="fa-solid fa-map-location-dot"></i>
      <span>Seguimiento</span>
    </a>
    <a href="{{ url_for('cotizador') }}" class="nav-link">
      <i class="fas fa-dollar-sign"></i>
      <span>Cotizar</span>
    </a>
    <a href="{{ url_for('sucursales') }}" class="nav-link">
      <i class="fas fa-plane"></i>
      <span>Sucursales</span>
    </a>
    <a href="{{ url_for('tipos_envio') }}" class="nav-link">
      <i class="fa-solid fa-boxes-packing"></i>
      <span>Registrar encomienda</span>
    </a>

    <a href="{{ url_for('carrito') }}" class="nav-link">
      <i class="fa-solid fa-cart-shopping carrito">
        <div id="cantidad_carrito">4</div>
      </i>

      <span>Carrito</span>
    </a>
  </nav>

  <div class="account-block {% if tipoUsuario == 'C' %} user_c {% endif %}">
    <a href="{{ url_for('login') }}" class="account-area">

      <div class="user-icon">
        <i class="
        {% if tipoUsuario == 'E' %}
          {{ ICON_PAGE_PANEL }}
        {% elif tipoUsuario == 'C' %}
          fa-solid fa-user
        {% else %}
          fa-regular fa-user
        {% endif %}
        ">
        </i>
      </div>

      <div class="user-text">
        <p>
          {% if tipoUsuario == 'E' %}
          Panel Administrativo
          {% elif tipoUsuario == 'C' %}
          Mi perfil
          {% else %}
          Iniciar sesión
          {% endif %}
        </p>
      </div>

    </a>

    {% if tipoUsuario == 'C' %}
    <a class="account-logout" href="{{url_for('logout')}}">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
    {% endif %}
  </div>

</header>

<div class="secondary-menu">
  <div class="secondary-block">
    <div class="secondary-link">
      <i class="fas fa-store"></i>
      <span>Tienda</span>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="secondary-content">
      <a class="secondary-sublink" href="{{ url_for('cajas') }}">
        <span>Cajas</span>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
      <a class="secondary-sublink" href="{{ url_for('articulos') }}">
        <span>Más Productos</span>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </div>
  </div>

  <div class="secondary-block">
    <div class="secondary-link">
      <i class="fas fa-question-circle"></i>
      <span>Ayuda</span>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="secondary-content">
      <a class="secondary-sublink" href="{{ url_for('Faq') }}">
        <span>Preguntas Frecuentes</span>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
      <a class="secondary-sublink" href="{{ url_for('contactanos') }}">
        <span>Contáctanos</span>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
      <a class="secondary-sublink" href="{{ url_for('NoRecibimos') }}">
        <span>No recibimos</span>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
      <a class="secondary-sublink" href="{{ url_for('pagina_reclamo') }}">
        <span>Libro de reclamaciones</span>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
      <a class="secondary-sublink" href="{{ url_for('TerminosCondiciones') }}">
        <span>Términos y Condiciones</span>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </div>
  </div>

  <div class="secondary-block">
    <a class="secondary-link" href="{{ url_for('sobre_nosotros') }}">
      <i class="fa-solid fa-circle-info"></i>
      <span>Sobre nosotros</span>
      <!-- <i class="fa-solid fa-angle-down"></i> -->
    </a>
  </div>
</div>

<section class="general_element">
  {% block contenido %}

  {% endblock %}
</section>

<footer class="footer">
  <div class="footer-top">
    <div class="footer-column">
      <h3 class="footer-title">{{ SYSTEM_NAME }}</h3>
      <p>Soluciones de logística y envío confiables desde 2005. Comprometidos con la calidad y eficiencia en cada
        entrega.</p>
      <div class="social-links">
        <a href="https://www.facebook.com/" class="social-link"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com/" class="social-link"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/" class="social-link"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/" class="social-link"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="footer-column">
      <h3 class="footer-title">Enlaces rápidos</h3>
      <ul class="footer-links">
        <li class="footer-link">
          <a href="{{ url_for('main_page') }}">Inicio</a>
        </li>
        <li class="footer-link">
          <a href="{{ url_for('seguimiento') }}">Seguimiento</a>
        </li>
        <li class="footer-link">
          <a href="{{ url_for('cotizador') }}">Cotizar</a>
        </li>
        <li class="footer-link">
          <a href="{{ url_for('sucursales') }}">Sucursales</a>
        </li>
        <li class="footer-link">
          <a href="{{url_for('sobre_nosotros')}}">Sobre nosotros</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h3 class="footer-title">Servicios</h3>
      <ul class="footer-links">
        <!-- <li class="footer-link"><a href="#">Envíos nacionales</a></li> -->
        <!-- <li class="footer-link"><a href="#">Envíos internacionales</a></li> -->
        <!-- <li class="footer-link"><a href="#">Paquetería empresarial</a></li> -->
        <!-- <li class="footer-link"><a href="#">Logística e-commerce</a></li> -->
        <!-- <li class="footer-link"><a href="#">Servicios especiales</a></li> -->
        <li class="footer-link">
          <a href="{{ url_for('registro_envio') }}{{ url_for('registro_envio') }}">Envios de paquetes</a>
        </li>
        <li class="footer-link">
          <a href="{{ url_for('registro_envio') }}">Envios de sobres</a>
        </li>
        <li class="footer-link">
          <a href="{{url_for('envio_masivo')}}">Envios masivos</a>
        </li>
        <li class="footer-link">
          <a href="{{ url_for('cajas') }}">Compra de empaques</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h3 class="footer-title">Contáctanos</h3>
      <ul class="footer-links">
        <!--  <li class="footer-link">
            <i class="fas fa-map-marker-alt"></i> Av. Principal #123
          </li>  -->
        <li class="footer-link">
          <i class="fas fa-phone"></i> {{ main_information.nro_telefono }}
        </li>
        <li class="footer-link">
          <i class="fas fa-envelope"></i> {{ main_information.correo }}
        </li>
        <!--  <li class="footer-link">
            <i class="fas fa-clock"></i> Lun-Vie: 8:00 - 18:00
          </li>  -->
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 {{ SYSTEM_NAME }}. Todos los derechos reservados.</p>
  </div>
</footer>
{% endblock %}

{% block scripts_html %}
<script src="/static/js/common_scripts/bootstrap.bundle.min.js"></script>
<script src="/static/js/common_scripts/bootstrap.min.js"></script>
<script src="/static/js/common_scripts/common_script.js"></script>
<script src="/static/js/actualizar_carrito.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const blocks = document.querySelectorAll('.secondary-block')

    blocks.forEach(function (block) {
      block.addEventListener('click', function () {
        const isActive = this.classList.contains('active')

        // Quitar 'active' de todos
        blocks.forEach((b) => b.classList.remove('active'))

        // Si no estaba activo, activarlo
        if (!isActive) {
          this.classList.add('active')
        }
      })
    })
    actualizarCantidadCarrito();
  })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
{% block scripts %}

{% endblock %}
{% endblock %}