{% extends "MAESTRA_BASE.html" %}

{% block estilos_html %}

<link rel="stylesheet" href="/static/css/admin_styles.css">
<link rel="shortcut icon" href="/static/img/logo.png">
{% block estilos %}
{% endblock %}
<title>
    {% block titulo %}
    {% endblock %}| {{SYSTEM_NAME}}
</title>

{% endblock %}



{% block body_html %}

<header class="general_element">
</header>

<aside class="general_element" id="menu_aside" class="">
    <div class="menu_img">
        <img src="/static/img/logo.png" class="logo_admin">
    </div>

    <div class="menu_option">
        <a class="menu_title" href="{{url_for('panel')}}">
            <p>Panel</p>
            <i class="ri-dashboard-line"></i>
        </a>
    </div>

    {% for modulo in listar_pages_admin %}

    <div class="line_separator"></div>
    <div class="menu_option {% if modulo_actual == modulo[5] %} mu_active {% endif %}">
        <div class="menu_title">
            <p>{{ modulo[0] }}</p>
            <i class="{{ modulo[1] }}"></i>
        </div>
        {% if modulo[2] or modulo[3] or modulo[4] %}
        <div class="menu_content">

            {% if modulo[2] %}
            <a class="mu_page mu_dashboard" href="{{url_for('dashboard',module_name = modulo[5] )}}">
                <i class="{{ICON_PAGE_DASHBOARD}}"></i>
                <p>Dashboard {{modulo[0]}}</p>
            </a>
            {% endif %}
            {% for page in modulo[3] %}
            <a class="mu_page mu_crud" href="{{url_for('crud_generico',tabla = page[0] )}}">
                <i class="{{ page[2] }}"></i>
                <p>{{NOMBRE_CRUD_PAGE}} {{ page[1] }}</p>
            </a>
            {% endfor %}
            {% for page in modulo[4] %}
            <a class="mu_page mu_rprt" href="{{url_for('reporte', report_name = page[0] )}}">
                <i class="{{ page[2] }}"></i>
                <p>Reporte de {{ page[1] }}</p>
            </a>
            {% endfor %}
        </div>
        {% endif %}

    </div>

    {% endfor %}


    <div class="menu_user">
        <div class="mu_content">
            <div class="mu_option">
                <div class="user_icon">
                    <i class="fa-solid fa-user"></i>
                </div>

                <p class="user_name">Nombre de usuario</p>
                <p class="user_type">Cargo de usuario</p>

                <div class="user_out">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>
            </div>
        </div>
    </div>
</aside>



<section class="general_element">
    <div class="section_content">
        {% block contenido %}
        {% endblock %}
    </div>
</section>

<footer class="general_element">
</footer>

{% endblock %}



{% block scripts_html %}
<script>
    // MENU OPTION
    const menuButton = document.querySelector("#menu_button");
    const aside = document.querySelector("#menu_aside");
    function toggleMenu() {
        aside.classList.toggle("desplegar");
    }

    if (menuButton && aside) {
        menuButton.addEventListener("click", () => {
            aside.classList.toggle("desplegar");
        });
    }
</script>
{% block scripts %}
{% endblock %}

{% endblock %}