{% extends "MAESTRA_BASE.html" %}

{% block estilos_html %}

<link rel="stylesheet" href="/static/css/admin_styles.css">
<link rel="shortcut icon" href="/static/img/logo.png">
{% block estilos %}
{% endblock %}
<title>
    {% block titulo %}
    {% endblock %}| xd
</title>

{% endblock %}



{% block body_html %}

<header class="general_element">
    <img src="/static/img/logo.png" class="logo_admin">
</header>

<aside class="general_element" id="menu_aside" class="">
    <a href="{{ url_for('dashboard') }}">
        <p>Dashboard</p>
    </a>
    <hr>
    {% for page in lista_paginas_crud %}
    <a class="crud_page" href="{{url_for('crud_generico',tabla = page[0])}}">
        {% if HABILITAR_ICON_PAGES %}
        <i class="{{page[2]}}"></i>
        {% endif %}
        <p>{{NOMBRE_CRUD_PAGE}} {{page[1]}}</p>
    </a>
    {% endfor %}
</aside>

<section class="general_element">
    {% block contenido %}
    {% endblock %}
</section>

<footer class="general_element">
</footer>

{% endblock %}



{% block scripts_html %}
<script>
    // MENU OPTION
    const menuButton = document.querySelector("#menu_button");
    const aside = document.querySelector("#menu_aside");
    function toggleMenu() {
        aside.classList.toggle("desplegar");
    }

    if (menuButton && aside) {
        menuButton.addEventListener("click", () => {
            aside.classList.toggle("desplegar");
        });
    }
</script>
{% block scripts %}
{% endblock %}

{% endblock %}