{% extends "MAESTRA_BASE.html" %}

{% block estilos_html %}
        
    <link rel="stylesheet" href="/static/css/admin_styles.css">
    <link rel="shortcut icon" href="/static/img/logo.png">
    {% block estilos %}
    {% endblock %}
    <title>
        {% block titulo %}
        {% endblock %}| xd
    </title>

{% endblock %}



{% block body_html %}
        
    <header class="general_element">
        <!-- <button id="menu_button" class="button is-white">
            <i class="fa-solid fa-bars"></i>
        </button> -->
    </header>

    <aside class="general_element" id="menu_aside" class="">
        {% for page in lista_paginas_crud %}
            <a href="{{url_for('crud_generico',tabla = page[0])}}">{{NOMBRE_CRUD_PAGE}} {{page[1]}}</a>
        {% endfor %}
    </aside>

    <section class="general_element">
        {% block contenido %}
        {% endblock %}
    </section>

    <footer class="general_element">
    </footer>

{% endblock %}



{% block scripts_html %}

    <script src="/static/js/common_scripts/bootstrap.bundle.min.js"></script>
    <script src="/static/js/common_scripts/bootstrap.min.js"></script>
    <script src="/static/js/common_scripts/common_script.js"></script>
    <script>
        // MENU OPTION
        const menuButton = document.querySelector("#menu_button");
        const aside = document.querySelector("#menu_aside");
        function toggleMenu() {
            aside.classList.toggle("desplegar");
        }

        if (menuButton && aside) {
            menuButton.addEventListener("click", () => {
                aside.classList.toggle("desplegar");
            });
        }
    </script>
    {% block scripts %}
    {% endblock %}

{% endblock %}
