<div id="confirmation-global-modal" class="global-modal">
    <div class="global-modal-content">
        <p id="global-modal-message">
            ¿Estás seguro de continuar?
        </p>
        <div class="global-modal-buttons">
            <button id="global_modal_confirm-btn" class="confirm">
                <i class="fa-solid fa-circle-check"></i>
            </button>
            <button id="global_modal_cancel-btn" class="cancel">
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
        </div>
    </div>
</div>