{% extends "MAESTRA_ADMIN.html" %}


{% block titulo %}
Panel Administrativo
{% endblock %}


{% block estilos %}
<style>
    .crud_title {
        margin-bottom: 20px;
    }
</style>

<style>
.b_text {
    margin-bottom: 20px;
    font-size: 120%;
}
</style>

{% endblock %}



{% block contenido %}
<div class="block_crud">
    <h3 class="crud_title">
        <i class="{{ICON_PAGE_PANEL}}"></i>
        Panel Administrativo
    </h3>
</div>
<div class="block_crud b_text">
    Seleccione un modulo:
</div>

<div class="block_crud block_panel">

    {% for modulo in menu_modulos %}
    <style>
        #cell_module_{{modulo.get('id')}}:hover {
            box-shadow: 0px 0px 20px {{modulo.get('color')}};
        }
    </style>
    <a href="{{url_for('dashboard',module_name = modulo.get('key') )}}" class="panel_cell cell_module" id="cell_module_{{modulo.get('id')}}" >
        <i style="color: {{modulo.get('color')}};" class="{{ modulo.get('icono') }}"></i>
        <div>{{ modulo.get('nombre') }}</div>
    </a>
    {% endfor %}

</div>

{% endblock %}





{% block scripts %}


{% endblock %}