{% extends "MAESTRA_ADMIN.html" %}


{% block titulo %}
Panel Administrativo
{% endblock %}


{% block estilos %}

<link rel="stylesheet" href="/static/css/panel.css">

{% endblock %}



{% block contenido %}

{% for modulo in listar_pages_admin %}
<div class="panel_cell">
    <div class="cell_title">
        <i class="{{ modulo[1] }}"></i>
        <div>{{ modulo[0] }}</div>
    </div>
    <div class="line_separator"></div>
    <div class="cell_content">
        {% if modulo[3] or modulo[4] %}
        {% if modulo[3] %}
        {% for page in modulo[3] %}
        <a class="panel_link link_crud" href="{{url_for('crud_generico' , tabla = page[0] )}}">
            <i class="{{ page[2] }}"></i>
            <p> {{NOMBRE_CRUD_PAGE}} {{ page[1] }} </p>
        </a>
        {% endfor %}
        {% endif %}

        {% if modulo[4] %}
        {% for page in modulo[4] %}
        <a class="panel_link link_report" href="{{url_for('reporte' , report_name = page[0] )}}">
            <i class="{{ page[2] }}"></i>
            <p>Reporte de {{ page[1] }} </p>
        </a>
        {% endfor %}
        {% endif %}
        {% else %}
        <p class="cell_empty">Sin contenido</p>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}





{% block scripts %}


{% endblock %}