{% extends "MAESTRA_LOGIN.html" %}

{% block estilos %}
<style>
    .mensaje-error {
        color: #ffbaba;
        margin-top: 2px;
        position: absolute;
        width: 100%;
    }

    .input-error {
        border-color: #ff1616c4 !important;
        box-shadow: 0 0 4px #ff30309c;
    }

    .inputs {
        grid-template-columns: repeat(6, 160px);
        overflow-y: visible;
    }

    .input_box {
        width: auto;
    }

    .input_box:nth-child(1),
    .input_box:nth-child(2),
    .input_box:nth-child(3) {
        grid-column: span 2;
    }

    .input_box:nth-child(n+4) {
        grid-column: span 3;
    }

    option {
        color: black;
    }

    option[disabled] {
        color: #b0b0b0;
    }
</style>
{% endblock %}

{% set TITULO_FORM = 'Registrate' %}
{% set URL_POST = 'procesar_register' %}
{% set URL_BG = 'bg4.jpg' %}

{% block contenido_form %}

<div class="input_box">
    <select required name="tipo_clienteid" id="tipo_clienteid">
        <option value="-1" selected disabled>Tipo de Cliente</option>
        {% for opt in opts_tipo_cliente %}
        <option value="{{opt[0]}}">{{opt[1]}}</option>
        {% endfor %}
    </select>
    
</div>

<div class="input_box">
    <select required name="tipo_documentoid" id="tipo_documentoid">
        <option value="-1" selected disabled>Tipo de Documento</option>
        {% for opt in opts_tipo_documento %}
        <option value="{{opt['id']}}" data-siglas="{{opt['siglas']}}">{{opt['nombre']}}</option>
        {% endfor %}
    </select>
</div>

<div class="input_box">
    <input type="text" name="num_documento" id="num_documento" placeholder="Nro. de Documento" required>
    <i class="fa-solid fa-id-card"></i>
</div>

<div class="input_box">
    <input type="text" name="nombre_siglas" id="nombre_siglas" placeholder="Nombres / Siglas" required>
    <i class="fa-solid fa-user"></i>
</div>

<div class="input_box">
    <input type="text" name="apellidos_razon" id="apellidos_razon" placeholder="Apellidos / Razón Social" required>
    <i class="fa-solid fa-user"></i>
</div>

<div class="input_box">
    <input type="text" name="telefono" id="telefono" placeholder="Telefono" required>
    <i class="fa-solid fa-phone"></i>
</div>

<div class="input_box">
    <input type="email" name="correo" id="correo" placeholder="Correo" required>
    <i class="fa-solid fa-envelope"></i>
</div>

<div class="input_box">
    <input type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña" required>
    <i class="fa-solid fa-lock"></i>
</div>

<div class="input_box">
    <input type="password" name="conf_contrasenia" id="conf_contrasenia" placeholder="Confirmar Contraseña" required>
    <i class="fa-solid fa-lock"></i>
</div>
{% endblock %}


{% block pre_btn %}
<p><input type="checkbox" id="verificacion">&nbsp;Al crear esta cuenta, aceptas nuestros <a
        href="{{ url_for('TerminosCondiciones') }}">Terminos &
        Condiciones.</a></p>
{% endblock %}

{% set BTN_NAME = 'Registrarse' %}

{% block post_btn %}
<p>¿Ya tienes una cuenta?&nbsp;<a href="{{url_for('login')}}">Inicia sesión</a></p>
{% endblock %}


{% block scripts %}
<script>
    configurarFiltroDocumentosPorTipoCliente("tipo_clienteid", "tipo_documentoid");

    configurarValidacion({ tipo: "select", selector: "select", id: "tipo_clienteid" });
    configurarValidacion({ tipo: "select", selector: "select", id: "tipo_documentoid" });
    configurarValidacionDocumento("tipo_documentoid", "num_documento");

    configurarValidacion({ tipo: "letras", selector: "input", id: "nombre_siglas" });
    configurarValidacion({ tipo: "letras", selector: "input", id: "apellidos_razon" });

    configurarValidacion({ tipo: "telefono", selector: "input", id: "telefono" });
    configurarValidacion({ tipo: "email", selector: "input", id: "correo" });

    configurarValidacion({ tipo: "min:8,max:30", selector: "input", id: "contrasenia" });
    configurarValidacion({ tipo: "match:contrasenia", selector: "input", id: "conf_contrasenia" });

    configurarValidacion({ tipo: "checkbox", selector: "input", id: "verificacion" });

    validarFormularioGlobal("form");

</script>


{% endblock %}