{% extends "MAESTRA_GENERAL.html" %}

{% block titulo %}
Sucursales
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" />
<link rel="stylesheet" href="../static/css/sucursales.css">
<style>
    .listado-agencias {
        max-height: 345px;
        overflow-y: auto;
    }
</style>
<style>
/* Asegura que el mapa tenga una altura mínima visible */
#map {
    width: 100%;
    aspect-ratio: 16 / 11;
    max-height: 80vh;
}
/* Por defecto en escritorio: mapa al lado derecho */
.filtros-mapa-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .mapa-container {
        order: 2;
    }

    .filtros-container {
        order: 1;
    }
}

@media (max-width: 900px) {
    .listado-agencias {
        max-height: 195px;
        overflow-y: auto;
    }
}
</style>


{% endblock %}

{% block contenido %}
<div class="sucursales-container row">
    <!-- <h1 class="sucursales-titulo">Nuestras Agencias</h1>
    <p class="sucursales-subtitle">Encuentra la agencia más cercana a tu ubicación</p> -->
    <div class="filtros-mapa-container row flex-column flex-md-row order-2 order-md-1">
        <div class="filtros-container col-md-9 col-sm-12">
            <div class="row g-3">
                <div class="col-12 col-lg-4">
                    <label class="form-label filtro-label" for="departamento">Departamento</label>
                    <select id="departamento" class="form-select filtro-select">
                        <option value="">Seleccionar</option>
                    </select>
                </div>
                <div class="col-12 col-lg-4">
                    <label class="form-label filtro-label" for="provincia">Provincia</label>
                    <select id="provincia" class="form-select filtro-select" disabled>
                        <option value="">Seleccionar</option>
                    </select>
                </div>
                <div class="col-12 col-lg-4">
                    <label class="form-label filtro-label" for="distrito">Distrito</label>
                    <select id="distrito" class="form-select filtro-select" disabled>
                        <option value="">Seleccionar</option>
                    </select>
                </div>
            </div>
            
            <!-- <button id="btn-buscar" class="btn-buscar">Buscar agencias</button> -->
            <div class="listado-agencias">
                <div id="agencias-list">
                    <div class="sin-resultados">
                        Selecciona una ubicación para ver las agencias disponibles
                    </div>
                </div>
            </div>
        </div>

        {% include "MAESTRA_MAPAS.html" %}
        
        <!-- <div class="mapa-container col">
            <div id="map"></div>
        </div> -->
    </div>

</div>
{% endblock %}

{% block scripts %}

{% endblock %}