{% extends 'MAESTRA_GENERAL.html' %}

{% block titulo %}
  Seguimiento
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="/static/css/tracking.css" />
{% endblock %}

{% block contenido %}
  <div class="container">
    <h2 class="titulo-seguimiento">Seguimiento de envíos</h2>
    <div class="form-container">
      <form action="{{ url_for('buscar_paquete') }}" method="post">
        <div class="input-container">
          <label for="tracking">Número de tracking</label>
          <input type="text" id="tracking" name="tracking" placeholder="Escriba el número de tracking" />
        </div>
        <div class="input-container">
          <label for="ano-emision">Año de emisión</label>
          <input type="text" class="tracking-input" placeholder="Ingresa el año de registro" name="anio" maxlength="4">

        </div>
        <button type="submit" class="buscar-btn">Buscar <i class="ri-arrow-right-line"></i></button>
      </form>
    </div>

    <img src="{{ url_for('static', filename='img/seguimiento.png') }}" class="img_track">

  </div>
{% endblock %}

{% block scripts %}

{% endblock %}
