{% extends 'MAESTRA_GENERAL.html' %}

{% block titulo %}
  Seguimiento
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="/static/css/tracking.css" />
{% endblock %}

{% block contenido %}
  <div class="container">
    <h2 class="titulo-seguimiento">Seguimiento de envíos</h2>
    <div class="form-container">
      <form action="#" method="post">
        <div class="input-container">
          <label for="tracking">Número de tracking</label>
          <input type="text" id="tracking" name="tracking" placeholder="Escriba el número de tracking" />
        </div>
        <div class="input-container">
          <label for="ano-emision">Año de emisión</label>
          <select id="ano-emision" name="ano-emision">
            <option value="25">2025</option>
            <option value="24">2024</option>
            <option value="23">2023</option>
          </select>
        </div>
        <button type="submit" class="buscar-btn">Buscar <i class="ri-arrow-right-line"></i></button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}

{% endblock %}
