:root {
    --color-base: #b34306; 
    --color1: color-mix(in srgb, var(--color-base) 100%, #e6e6e6 0%); 
    --color2: color-mix(in srgb, var(--color-base) 100%, #ffffff 30%); 
    /* --color2: var(--color-base);  */
    --color3: color-mix(in srgb, var(--color1) 100%, black 30%);
    --color4: color-mix(in srgb, var(--color1) 50%, black 90%);
    --color5: color-mix(in srgb, var(--color1) 70%, var(--color2) 30%);
    --color6: color-mix(in srgb, var(--color1) 70%, var(--color3) 90%);
    --color7: color-mix(in srgb, var(--color1) 70%, var(--color3) 0%);
    --color8: color-mix(in srgb, var(--color1) 70%, black 50%);
    --color9: color-mix(in srgb, var(--color1) 40%, white 50%);
    --color10: color-mix(in srgb, var(--color1) 100%, #cecece 100%);

    --color-background: color-mix(in srgb, #ffffff 30%, white 10%);

    --color-tierra: #000;
    --height-header: 20vh;
    --height-footer: 50vh;
    --height-aside: 90vh;
    --height-section: 1vh;
}

body {
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h1 , h2 , p {
    margin: 0;
}

