@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@100&display=swap');

:root {
    /* --color-base: #18076e; */
    /* --color-base: #8a5105; */
    /* --color-base: #107444; */
    --color-base: #1d4c82;
    --color-sec: #00cee9;
    /* --color-sec: #f07305; */
    /* --color-sec: #a20eff; */
    /* --color-contrast: #fff; */
    --color-contrast: #ffffff;
}

:root {
    --color1: color-mix(in srgb, var(--color-base) 100%, var(--color-contrast) 0%);
    --color2: color-mix(in srgb, var(--color-base) 100%, var(--color-contrast) 30%);
    --color3: color-mix(in srgb, var(--color1) 100%, black 30%);
    --color4: color-mix(in srgb, var(--color1) 50%, black 90%);
    --color5: color-mix(in srgb, var(--color1) 70%, var(--color2) 30%);
    --color6: color-mix(in srgb, var(--color1) 70%, var(--color3) 90%);
    --color7: color-mix(in srgb, var(--color1) 70%, var(--color3) 0%);
    --color8: color-mix(in srgb, var(--color1) 70%, black 50%);
    --color9: color-mix(in srgb, var(--color1) 7.5%, var(--color-contrast) 100%);
    --color10: color-mix(in srgb, var(--color1) 100%, var(--color-contrast) 100%);
    --color11: color-mix(in srgb, var(--color4) 100%, var(--color-sec) 100%);
    --color12: color-mix(in srgb, var(--color-sec) 20%, transparent 80%);
    --color13: color-mix(in srgb, var(--color1) 40%, var(--color-sec) 30%);
    --color14: color-mix(in srgb, var(--color4) 90%, #1e1e1e 90%);
    --color15: color-mix(in srgb, var(--color-base) 50%, var(--color-sec) 100%);
    --color16: color-mix(in srgb, var(--color11) 100%, var(--color3) 80%);
    --color16: color-mix(in srgb, var(--color-sec) 60%, white 90%);


    --color-background: color-mix(in srgb, var(--color-contrast) 30%, var(--color-contrast) 100%);
}

*:not(i) {
    font-family: Poppins, sans-serif !important;
    /* font-weight: bold; */
    transition: 0.15s ease-in-out;
}

header.general_element {
    /* grid-area: ge_header; */
    /* position: sticky; */
    top: 0;
    background-color: var(--color1);
    /* height: var(--height-header); */
    /* display: flex; */
    z-index: 9999;
}

aside.general_element {
    font-size: 80%;
    grid-area: ge_aside;
    display: flex;
    width: var(--width-aside);

    position: fixed;
    height: 100%;
    overflow-y: scroll;
    z-index: 999;
    left: 0;
    transition: 0.15s ease-in-out;
}

aside::-webkit-scrollbar {
    display: none;
}

aside.desplegar {
    left: calc(-1 * var(--width-aside));
}

section.general_element {
    font-size: 80%;
    grid-area: ge_section;
    height: 100%;
    align-items: center;
    display: flex;
}

footer.general_element {
    grid-area: ge_footer;
    /* height: var(--height-footer); */
    background-color: var(--color4);
}

a {
    text-decoration: none;
    cursor: pointer;
    /* color: white; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    border: 0;
    cursor: pointer;
}












.modalMsg * {
    font-family: BlinkMacSystemFont, "Segoe UI", Fontawesome;
}

.modalMsg {
    height: fit-content;
    width: fit-content;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: 0px 0px 7px black;
    border-radius: 10px;
    display: none;
}

.modalMsg .modal-dialog {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.modalMsg.ver_modalMsg .modal-content {
    display: grid !important;
    grid-template-areas: "mo_h mo_b mo_f";
    grid-template-columns: 50px auto 60px;
    padding-block: 10px;
    padding-inline: 5px;
    gap: 5px;
    background-color: transparent;
    border: 0;
    border-radius: 6px;
    outline: 0;
    background-clip: padding-box;
    position: relative;
    margin: 0;
    width: 100%;
}

.modalMsg .modal-header,
.modalMsg .modal-body,
.modalMsg .modal-footer {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    border: 0;
}

.modalMsg .modal-header {
    grid-area: mo_h;
}

.modalMsg .modal-header i {
    font-size: 30px;
}

.modalMsg .modal-body {
    grid-area: mo_b;
    justify-content: left;
}

.modalMsg .modal-body p {
    padding: 0;
    margin: 0;
    color: black;
    /* font-size: 15px; */
}

.modalMsg .modal-footer {
    grid-area: mo_f;
}

.modalMsg .modal-footer button:hover {
    cursor: pointer;
}

.modalMsg .modal-footer button {
    display: flex;
    border-radius: 20px;
    padding: 0;
    font-size: 100%;
    width: 32.5px;
    height: 32.5px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border: 0;
}

.modalMsg .modal-footer button i {
    font-size: 15px;
}

.modalMsg.ver_modalMsg {
    display: block !important;
}



.modalError .modal-header i {
    color: #e61f65;
}

.modalError {
    background-color: #fcdada;
    right: auto;
    top: auto;
    bottom: 10px;
    left: 10px;
}

.modalError .modal-dialog {
    width: var(--width-msg-error);
}

.modal_button_cancelar {
    background-color: #db0000bd;
    color: white;
}

.modalError .modal-body p {
    font-size: 15px;
    line-height: 1.6em;
}